<!DOCTYPE html>
<html>
  <head>
    <meta charst="UTF-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <%= csrf_meta_tags %>
    <meta name="author" content="Hiroshi Shimomura">
    <%- if lang?(:ja) -%>
      <meta name="description" content="しもむーの脳みそ">
    <%- else -%>
      <meta name="description" content="Shimomuh's Brain">
    <%- end -%>
    <meta name="keywords" content="しもむー,下村浩史,shimomuh">
    <meta name="og:title" content="しもむーの脳みそ">
    <meta name="og:type" content="website">
    <meta name="og:url" content="http://shimomuh-brain.net">
    <meta name="og:site_name" content="http://shimomuh-brain.net">
    <meta name="og:description" content="しもむーの頭の中">
    <meta name="og:locale" content="ja_JP">
    <meta name="og:image" content="<%= image_url('icons/og-image.png') %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@shimomuh">
    <meta name="twitter:creator" content="@shimomuh">
    <meta name="twitter:title" content="しもむーの脳みそ">
    <meta name="twitter:description" content="しもむーの頭の中">
    <meta name="twitter:image:src" content="<%= image_url('icons/og-image.png') %>">
    <%= favicon_link_tag 'icons/favicon-128x128.ico' %>
    <%= favicon_link_tag 'icons/apple-touch-icon-120x120.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '120x120' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>Shimomuh's Brain</title>
    <%= yield :stylesheet_in_head %>
    <%-# TODO: ga -%>
  </head>
  <body>
    <%= yield %>
  </body>
  <%= yield :javascript_after_body %>
</html>
